.contenedorMarcas {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #3f3d3d;
    margin: 10px;
    padding: 3px;
    width: 30%;
    height: 120px;

    }