.imagenIndex{
    width: 100%;
    img{
        border: 3px solid black;
        border-radius: 1cm;
        width: 100%;
    }
}

.contenedorMarcas {
   
    flex-direction: column;
    background-image: url(../imagenes/handyman-09.jpg);
    background-size: 100% 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    border: solid black 3px;
    padding: auto;
    margin-top: 100px;
    border-radius: 1cm;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px;
        padding: 3px;
        width: auto;
        height: auto;
        list-style: none;

        li {

            padding: 10px;

            img {
                width: 150px;
                height: 75px;
            }
        }
    }
}