header {
    display: flex;
    background: #000000;
    background: linear-gradient(180deg, black 0%, #626262 86%, #afafaf 100%);
    border: 2px solid white;
    flex-direction: column;
    align-items: center;
    height: 125px;
    grid-area: header;

    nav {
        background-color: black;
        border: 2px solid white;
        width: 100%;
        position: relative;
        height: auto;

        .navbar {
            padding-top: 0;
            padding-bottom: 0;

            li a {
                &:hover {
                    background-color: blue;
                }
            }

        }
    }
}