.imagenNovedades{
    margin-top: 100px;    
    width: 100%;
        img{
            border: 3px solid black;
            border-radius: 1cm;
            width: 100%;
        }
    }




.novedades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
    

    div {
        flex-wrap: wrap;
        justify-content: center;
        background-color: rgb(48, 49, 49);
        width: 415px;
        height: 630px;
        margin: 100px;

       
        iframe {
            flex-wrap: wrap;
            width: 100%;
            height: 640px;
            padding: 50px;
           
        }
    }
}