@import "var";
@import "generales";
@import "nav";
@import "inicio";
@import "productos";
@import "footer";
@import "novedades";


.productos .card:hover {
  transform: scale(1.1);
}

.titulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  font-family: cursive;
  margin: 10px;
  color: white;
  border-color: black 1px;
  margin-left: 75px;
  margin-top: 100px;
  background-color: #000000ab;
  padding: 3px;
  border-radius: 3px;
  
  
}

.tituloDos{
  display: flex;
  flex-wrap: wrap;
  font-family: cursive;
  margin-left: 75px;
  border-radius: 3px;
  padding: 3px;
  background-color: #000000ab;
  color: white;
}

.contenido {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin: 10px;
  grid-area: contenido;
  align-items: center;
  justify-content: center;
}
.contenidoIndex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.oferta img {
  transition: 3s;
}

.oferta img:hover {
  transform: translate(200px);
}



.quienesSomos {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  border: 3px groove white;
}

div form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color:  #3f3d3d;
  color: white;
  width: 500px;
}

.contacto {
  display: grid;
  grid-template-rows: auto ;
  width: 100%;
  margin-top: 30px;
}

.contacto form label {
  list-style: none;
  font-size: 20px;
  display: list-item;
}

.contacto form input{
  padding: 10px;
  border-radius: 3px;
  width: 100%;
}

.contacto form .consulta{
  height: 200px;
  padding: 0;
}
@media screen and (max-width: 576px) {
  
   
}

@media screen and (min-width:576px ) and (max-width:768px){
  
  footer {
    display: flex;
  }
}


$redes:(
        facebook:rgb(0, 0, 255),
        instagram:rgb(235, 89, 5),
        twitter:rgb(0, 102, 255),
        whatsapp:rgb(1, 138, 30),
        );
        

        @each $red, $color in $redes{
          .bi-#{$red}{
            color: $color;
          }
        }
        ;

       