* {
  padding: 0;
  margin: 0; }

body {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #8b8b8b;
  min-height: 100vh;
  grid-template-areas: "header header header header" "contenido contenido contenido contenido" "footer footer footer footer";
  background-image: url(../imagenes/fondoindex2.png);
  background-size: 100% 100%; }

header {
  display: flex;
  background: linear-gradient(180deg, black 0%, #626262 86%, #afafaf 100%);
  border: 2px solid white;
  flex-direction: column;
  align-items: center;
  height: 125px;
  grid-area: header; }
  header nav {
    background-color: black;
    border: 1px solid white;
    width: 100%;
    position: relative;
    height: auto;
    font-size: 20px; }
    header nav .navbar-nav {
      padding-top: 0;
      padding-bottom: 0; }
      header nav .navbar-nav .nav-item:hover {
        background-color: blue; }

.contenedorMarcas {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #3f3d3d;
  margin: 10px;
  padding: 3px;
  width: 30%;
  height: 120px; }

.productos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px; }
  .productos .card {
    transition: all 1s;
    margin: 10px;
    width: 250px; }
    .productos .card img {
      height: 200px; }

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
  bottom: 0px;
  background: linear-gradient(180deg, black 0%, #626262 86%, #afafaf 100%);
  grid-area: footer;
  width: 100%;
  margin-top: auto; }
  footer .redes {
    color: white;
    list-style: none;
    font-size: 20px;
    line-height: 1.6;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%; }
    footer .redes li:hover {
      background-color: blue; }

.carousel {
  width: 100px;
  height: 100px; }
  .carousel img {
    height: 40px;
    width: 40px; }

.novedades ul li img {
  width: 250px;
  height: 250px; }

.productos .card:hover {
  transform: scale(1.1); }

.titulos {
  display: flex;
  justify-content: start;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  color: black; }

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin: 10px;
  grid-area: contenido; }

.oferta img {
  transition: 3s; }

.oferta img:hover {
  transform: translate(200px); }

.quienesSomos {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  border: 3px groove white; }

.novedades {
  display: grid;
  grid-template-rows: 1fr 4fr;
  width: 100%; }

.novedades ul {
  display: grid;
  grid-template-columns: 2fr;
  list-style: none;
  margin-top: 10px; }

.novedades ul li {
  margin-top: 40px;
  margin-left: 40px;
  width: 20%; }

div form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: #3f3d3d;
  color: white;
  width: 500px; }

.contacto {
  display: grid;
  grid-template-rows: auto;
  width: 100%;
  margin-top: 30px; }

.contacto form label {
  list-style: none;
  font-size: 20px;
  display: list-item; }

.contacto form input {
  padding: 10px;
  border-radius: 3px;
  width: 100%; }

.contacto form .consulta {
  height: 200px;
  padding: 0; }

@media screen and (min-width: 576px) {
  .novedades ul {
    grid-template-columns: 2fr 2fr; } }

@media screen and (min-width: 768px) {
  .novedades ul {
    grid-template-columns: 2fr 2fr 2fr 2fr; }
  footer {
    display: flex; } }

.bi-facebook {
  color: blue; }

.bi-instagram {
  color: #eb5905; }

.bi-twitter {
  color: #0066ff; }

.bi-whatsapp {
  color: #018a1e; }

.nombre, .email, .telefono {
  color: red; }

.email {
  font-family: 'Courier New', Courier, monospace; }

.telefono {
  background-color: blue; }

.mixin {
  color: #696161;
  background-color: black; }
