* {
  padding: 0;
  margin: 0; }

body {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #8b8b8b;
  min-height: 100vh;
  grid-template-areas: "header header header header" "contenido contenido contenido contenido" "footer footer footer footer";
  background-color: #686868; }

header {
  display: flex;
  background: linear-gradient(180deg, black 0%, #626262 86%, #afafaf 100%);
  border: 2px solid white;
  flex-direction: column;
  align-items: center;
  height: 125px;
  grid-area: header; }
  header nav {
    background-color: black;
    border: 1px solid white;
    width: 100%;
    position: relative;
    height: auto;
    font-size: 20px; }
    header nav .navbar-collapse {
      flex-grow: initial; }
    header nav .navbar-nav {
      padding-top: 0;
      padding-bottom: 0; }
      header nav .navbar-nav .nav-item:hover {
        background-color: blue; }

.imagenIndex {
  width: 100%; }
  .imagenIndex img {
    border: 3px solid black;
    border-radius: 1cm;
    width: 100%; }

.contenedorMarcas {
  flex-direction: column;
  background-image: url(../imagenes/handyman-09.jpg);
  background-size: 100% 100%;
  color: black;
  text-align: center;
  border: solid black 3px;
  padding: auto;
  margin-top: 100px;
  border-radius: 1cm; }
  .contenedorMarcas ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 3px;
    width: auto;
    height: auto;
    list-style: none; }
    .contenedorMarcas ul li {
      padding: 10px; }
      .contenedorMarcas ul li img {
        width: 150px;
        height: 75px; }

.productos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  margin-top: 220px; }
  .productos .card {
    transition: all 1s;
    margin: 10px;
    width: 250px; }
    .productos .card img {
      height: 200px; }

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
  bottom: 0px;
  background: linear-gradient(180deg, black 0%, #626262 86%, #afafaf 100%);
  grid-area: footer;
  width: 100%;
  margin-top: auto; }
  footer .redes {
    color: white;
    list-style: none;
    font-size: 20px;
    line-height: 1.6;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%; }
    footer .redes li:hover {
      background-color: blue; }

.imagenNovedades {
  margin-top: 100px;
  width: 100%; }
  .imagenNovedades img {
    border: 3px solid black;
    border-radius: 1cm;
    width: 100%; }

.novedades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px; }
  .novedades div {
    flex-wrap: wrap;
    justify-content: center;
    background-color: #303131;
    width: 415px;
    height: 630px;
    margin: 100px; }
    .novedades div iframe {
      flex-wrap: wrap;
      width: 100%;
      height: 640px;
      padding: 50px; }

.productos .card:hover {
  transform: scale(1.1); }

.titulos {
  display: flex;
  flex-wrap: wrap;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 10px;
  color: white;
  margin-left: 75px;
  margin-top: 100px;
  background-color: #000000ab;
  padding: 3px;
  border-radius: 3px;
  width: fit-content; }

.tituloDos {
  display: flex;
  flex-wrap: wrap;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 75px;
  border-radius: 3px;
  padding: 3px;
  background-color: #000000ab;
  color: white; }

.contenido {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin: 10px;
  grid-area: contenido;
  align-items: center;
  justify-content: center; }

.contenidoIndex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.oferta img {
  transition: 3s; }

.oferta img:hover {
  transform: translate(200px); }

.quienesSomos {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  font-size: 20px;
  border: 3px groove white; }
  .quienesSomos p {
    background-color: #000000ab;
    border-radius: 3px;
    padding: 30px;
    color: white; }

div form {
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: #3f3d3db0;
  color: white;
  width: 500px;
  border-radius: 3px; }

.contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  padding: 50px; }
  .contacto .imagenContacto {
    background-color: #3f3d3db0;
    margin: 20px;
    border-radius: 1px; }
    .contacto .imagenContacto img {
      padding: 30px;
      width: 100%; }

.contacto form label {
  list-style: none;
  font-size: 20px;
  display: list-item; }

.contacto form input {
  padding: 10px;
  border-radius: 3px;
  width: 100%; }

.contacto form .consulta {
  height: 200px;
  padding: 0; }

@media screen and (max-width: 576px) {
  footer .redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .titulos {
    margin-left: 0; }
  .tituloDos {
    margin-left: 0px; }
  .contacto {
    flex-direction: column;
    align-items: center; }
  div form {
    width: auto; } }

@media screen and (min-width: 576px) and (max-width: 768px) {
  .contacto {
    flex-direction: column;
    align-items: center; }
  div form {
    width: auto; } }

.bi-facebook {
  color: blue; }

.bi-instagram {
  color: #eb5905; }

.bi-twitter {
  color: #0066ff; }

.bi-whatsapp {
  color: #018a1e; }
